<div class="container">
    <ng-template #content let-c="close" let-d="dismiss">
      <div class="modal-header">
        <h4 class="modal-title">Do you realy want to quit?</h4>
        <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary" (click)="logout(); c('Close click')">Yes</button>
        <button type="button" class="btn btn-primary" (click)="c('Close click')">No</button>
      </div>
    </ng-template>
  <button type="button" class="btn btn-primary" (click)="open(content)">Sign out</button>
  </div>
