.container {
  padding-top: 20px;
}

.invisibleNewPasswords {
  display: none;
}

.invisibleFillPasswords {
  display: none;
}

.invisibleSuccessMessage {
  display: none;
}

.invisibleOldPassword {
  display: none;
}
