<form #checkoutForm="ngForm" novalidate>
  <h1>Billing address</h1>

  <div class="form-group row">
    <div class="col-md-6 col-sm-12">
      <label for="firstName" class="col-form-label">First name</label>
      <input type="text" class="form-control" id="firstName" [(ngModel)]="user.firstName"
             name="firstName" required pattern="^[a-zA-Z-\s]+$">
    </div>
    <div class="col-md-6 col-sm-12">
      <label for="lastName" class="col-form-label">Last name</label>
      <input type="text" class="form-control" id="lastName" [(ngModel)]="user.lastName"
             name="lastName" required pattern="^[a-zA-Z-\s]+$">
    </div>
  </div>

  <div class="form-group">
    <label for="userName" class="col-form-label">Username</label>
    <div class="input-group mb-3">
      <div class="input-group-prepend">
        <span class="input-group-text" id="basic-addon1">@</span>
      </div>
      <input type="text" class="form-control" id="userName" [(ngModel)]="user.userName"
             name="userName" placeholder="Username" required>
    </div>
  </div>


  <div class="form-group">
    <label for="email" class="col-form-label">Email (Optional)</label>
    <input type="email" class="form-control" id="email" [(ngModel)]="user.email"
             name="email" placeholder="you@example.com" (input)="onEmailChange()" [required]="emailRequired" [email]="patternEmail">
  </div>

  <div class="form-group">
    <label for="address" class="col-form-label">Address</label>
    <input type="text" class="form-control" id="address" [(ngModel)]="user.address"
             name="address" placeholder="1234 Main st" required>
  </div>

  <div class="form-group">
    <label for="address2" class="col-form-label">Address 2 (Optional)</label>
    <input type="text" class="form-control" id="address2" [(ngModel)]="user.address2"
             name="address2" placeholder="Apartment or suite">
  </div>

  <div class="form-group row">
    <div class="col-md-5 col-sm-12">
      <label for="country" class="col-form-label">Country</label>
      <select id="country" class="form-control" [(ngModel)]="user.selectedCountry" name="country" required (change)="onCountryChange()">
        <option [ngValue]="undefined" selected>Choose...</option>
        <option *ngFor="let country of countries" [ngValue]="country">{{country}}</option>
      </select>
    </div>
    <div class="col-md-4 col-sm-12">
      <label for="state" class="col-form-label">State</label>
      <select id="state" class="form-control" [(ngModel)]="user.selectedState" name="state" [required]="stateRequired">
        <option [ngValue]="undefined" selected>Choose...</option>
        <option *ngFor="let state of states" [ngValue]="state">{{state}}</option>
      </select>
    </div>
    <div class="col-md-3 col-sm-12">
      <label for="zip" class="col-form-label">Zip</label>
      <input type="text" class="form-control" id="zip" [(ngModel)]="user.zip"
               name="zip" required pattern="^[ 0-9-]+$">
    </div>
  </div>

  <div class="form-group custom-controls-stacked checkboxContainer">
    <div class="custom-control custom-checkbox">
      <input type="checkbox" class="custom-control-input" id="customCheck1" [(ngModel)]="user.haveSameAddress" name="haveSameAddress">
      <label class="custom-control-label" for="customCheck1">Shipping address is the same as my billing address</label>
    </div>
    <div class="custom-control custom-checkbox">
      <input type="checkbox" class="custom-control-input" id="customCheck2" [(ngModel)]="user.wantToSaveInfo" name="wantToSaveInfo">
      <label class="custom-control-label" for="customCheck2">Save this information for next time</label>
    </div>
  </div>

  <h1>Payment</h1>

  <div class="form-group custom-controls-stacked">
    <div class="custom-control custom-radio">
      <input type="radio" id="customRadio1" name="customRadio" class="custom-control-input" [value]="'credit'" [(ngModel)]="user.payment" [checked]="user.payment=='credit'">
      <label class="custom-control-label" for="customRadio1">Credit card</label>
    </div>
    <div class="custom-control custom-radio">
      <input type="radio" id="customRadio2" name="customRadio" class="custom-control-input" [value]="'debit'" [(ngModel)]="user.payment" [checked]="user.payment=='debit'">
      <label class="custom-control-label" for="customRadio2">Debit card</label>
    </div>
    <div class="custom-control custom-radio">
      <input type="radio" id="customRadio3" name="customRadio" class="custom-control-input" [value]="'paypal'" [(ngModel)]="user.payment" [checked]="user.payment=='paypal'">
      <label class="custom-control-label" for="customRadio3">Paypal</label>
    </div>
  </div>

  <div class="form-group row">
    <div class="col-md-6 col-sm-12">
      <label for="nameOnCard" class="col-form-label">Name on card</label>
      <input type="text" class="form-control" id="nameOnCard" [(ngModel)]="user.nameOnCard"
             name="nameOnCard" required pattern="^[a-zA-Z-\s]+$">
      <small id="emailHelp" class="form-text text-muted">Full name as displayed on card</small>
    </div>
    <div class="col-md-6 col-sm-12">
      <label for="creditCardNumber" class="col-form-label">Credit card number</label>
      <input type="text" class="form-control" id="creditCardNumber" [(ngModel)]="user.creditCardNumber"
             name="creditCardNumber" required pattern="^[ 0-9-]+$">
    </div>
  </div>

  <div class="form-group row">
    <div class="col-md-3 col-sm-12">
      <label for="expiration" class="col-form-label">Expiration (mm.yyyy)</label>
      <input type="text" class="form-control" id="expiration" [(ngModel)]="user.expiration"
             name="expiration" required pattern="(0[1-9]{1}|1[0-2]{1}).\d{4}$">
    </div>
    <div class="col-md-3 col-sm-12">
      <label for="cvv" class="col-form-label">CVV</label>
      <input type="text" class="form-control" id="cvv" [(ngModel)]="user.cvv"
             name="cvv" required pattern="^[ 0-9]{3}">
    </div>
  </div>

  <div class="form-group">
    <button type="submit" [disabled]="checkoutForm.invalid" class="btn btn-primary col-sm-12" (click)="checkout()">Checkout</button>
  </div>
</form>
